@import url('https://fonts.googleapis.com/css2?family=Poppinss:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, body *{
	padding: 0;
	margin: 0;
}

.main-section {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 2em;
}