@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

body * {
	font-family: "Source Sans Pro", sans-serif;
}

body {
	margin: 0;
}

html {
	height: 100%;
}

table, td, th {
	border: 1px solid #555;
	border-collapse: collapse;
}

#main {
	display: grid;
	grid-template-columns: 1.5fr 1fr auto;
	grid-template-rows: auto;
}

#navbar {
	width: 300px;
	text-align: center;
	margin: 0 auto;
	position: fixed;
	height: 100%;
	background: linear-gradient(to top right, #cc0000, #e6b800);
	color: #fff;

}

#navbar header {
	padding: 1.2em 0 10px 0;
	font-size: 32px;
	font-weight: 800;
}


#navbar ul {
	list-style-type: none;
	height: 100%;
	overflow: auto;
	text-align: left;
	margin-top: 0;
}

#navbar ul li a {
	text-decoration: none;
	color: #fff;
	transition: all .2s ease-in-out;
}

#navbar ul li a:hover {
	text-shadow: 7px 7px 3px #fff;
}

#navbar ul li {
	margin: 12px 0;
	padding-left: 20px;
	font-size: 20px;
}

#main-doc {
	margin-left: 300px;
	padding: 2em;
	width: 75%;
}
