@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

body * {
	font-family: "Source Sans Pro", sans-serif;
}

body, #main {
	margin: 0;
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
}

#main {
	flex-direction: row !important;
}


table, td, th {
	border: 1px solid #555;
	border-collapse: collapse;
}

#navbar {
	width: 200px;
	margin: 0 auto;
	height: 100%;
	padding: 0 4em;
	height: 100%;
	background: linear-gradient(to top right, #cc0000, #e6b800);
	color: #fff;

}

#navbar header {
	padding: 1.2em 0 10px 0;
	font-size: 32px;
	font-weight: 800;
}


#navbar ul {
	list-style-type: none;
	width: 200px;
	overflow: auto;
	text-align: left;
	margin-top: 0;
	padding-left: 0;
}

#navbar ul li a {
	text-decoration: none;
	color: #fff;
	transition: all .2s ease-in-out;
}

#navbar ul li a:hover {
	text-shadow: 7px 7px 3px #fff;
}

#navbar ul li {
	margin: 12px 0;
	padding-left: 20px;
	font-size: 20px;
}

#main-doc {
	padding: 2em;
	margin-left:
	width: 100%;
	background-color: #1a1a1a;
	color: #fff;
}

header {
	font-size: 36px;
	font-weight: 800;
}

code {
	background: #aaa;
	padding: 1em;
	border-radius: 10px;
	width: 80%;
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;
	font-size: 12px;
	font-family: Courier;
}

@media only screen and (max-width: 768px) {

	#main {
		justify-content: center;
		flex-direction: column !important;
	}

	#navbar {
		position: relative;
		width: 100%;
		text-align: center;
	}

	#main-doc {
		padding-left: 2em;
		margin: 0;
	}
}